    __pycache__/
    *.pyc
    *.pyo
    *.pyd

    .venv/
    venv/


    face_index.faiss
    user_mapping.json

    dist/
    build/

    .git
    .gitignore

    *.png
    *.jpg
    *.jpeg

    test.py
    workingmain.py
    originalmain.py
    note.txt